/* --- WORK PAGE STYLES --- */
.work-section {
    background-color: var(--bg-dark);
    padding: 100px 0; /* Anda bisa ubah nilai ini untuk mengatur gap header */
    min-height: 100vh; /* Memastikan warna background memenuhi layar */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Ukuran lebih lebar */
    gap: 40px;
    margin-top: 50px;
}

.card {
    background: rgba(46, 47, 47, 0.3); /* Transparan/Glassmorphism */
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.card:hover {
    transform: translateY(-10px);
    border-color: var(--accent);
    box-shadow: 0 20px 40px rgba(0, 173, 181, 0.15);
}

.card-image {
    height: 300px;
    overflow: hidden;
}

.card-image div { /* Target background image */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.8s ease;
}

.card:hover .card-image div {
    transform: scale(1.1); /* Efek zoom gambar */
}

.card-content {
    padding: 30px;
}

.genre {
    color: var(--accent);
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 800;
}

.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #fff;
}

.card p {
    color: var(--text-dim);
    font-size: 0.9rem;
}